body {
  background-color: #fbfcfe;
}

* {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 96px 1fr;
  grid-template-columns: 280px 1fr;
  gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.app-wrapper-component {
  grid-area: content;
}
